<div class="pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h2>Movesica</h2>
          <p class="pr-5 text-white-50">Web patrocinada por Ayuntamiento de Madrid y Comunidad de Madrid </p>
          <p><a href="https://twitter.com"><i class="fab fa-twitter-square p-2"></i></a><a href="https://es-es.facebook.com/"><i class="fab fa-facebook-square p-2"></i></a><a href="https://www.linkedin.com"><i class="fab fa-linkedin p-2"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">Patrocinadores</h4>
            <ul class="m-0 p-0">
              <li>- <a href="https://www.madrid.es/portal/site/munimadrid" target="_blank">Ayuntamiento de Madrid</a></li>
              <li>- <a href="http://www.comunidad.madrid/" target="_blank">Comunidad de Madrid</a></li>
              <li>- <a href="http://www.sgae.es/es-ES/SitePages/index.aspx" target="_blank">SGAE</a></li>
              <li>- <a href="http://www.mecd.gob.es/redirigeme/?ruta=/" target="_blank">Ministerio de Educación y Cultura</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">Contacto</h4>
          <p>Avenida de las Águilas 28, 28044</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
          <p><i class="fa fa-envelope-o mr-3"></i>info@movesica.com</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>
