@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");


*{
    min-height: 57px;
}
.del{
    color:tomato;
}
.del:hover{
    color:lightsalmon;
    cursor: pointer;
}
