<form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Nombre canción</label>
        <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="form-group">
        <label>Selecciona un estilo</label>
        <select class="form-control" formControlName="estilo">
          <option></option>
          <option>Rock</option>
          <option>Pop</option>
          <option>Indie</option>
          <option>Blues</option>
          <option>Folklore</option>
          <option>Trova</option>
        </select>
    </div>
    <div class="form-group">
        <label>Selecciona una Época</label>
        <select class="form-control" formControlName="epoca">
          <option></option>
          <option value="1950">50s</option>
          <option value="1960">60s</option>
          <option value="1970">70s</option>
          <option value="1980">80s</option>
          <option value="1990">90s</option>
          <option value="2000">20s</option>
          <option value="2010">21s</option>
        </select>
    </div>
    <div class="form-group">
        <label>Tipo de grupo</label>
        <select class="form-control" formControlName="grupo">
          <option></option>
          <option>Banda</option>
          <option>Cantautor</option>
          <option>Solista</option>
        </select>
    </div>
    <input type="submit" value="Buscar" class="btn btn-block btn-primary">
</form>
